**/node_modules/**
**/local_modules/**
**/build/**
**/dist/**
**/package.json
**/yarn.lock
wapp/**/*
frontend/web/weblite-doc/**
frontend/web/weblite-web/public/**
**/*.dll.js
**/*.worker.js
frontend/create/weblite-wapp-create-cli/testWapps/**
frontend/web/packages/router/**
