@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('woff/iranyekanwebbold.woff') format('woff');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('woff/iranyekanwebregular.woff') format('woff');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('woff/iranyekanwebmedium.woff') format('woff');
}
